@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #ffffff;
}

.read-more-text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-50%);
}

.icon {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.read-more-container:hover .read-more-text {
  opacity: 1;
  transform: translateX(0);
}

.read-more-container:hover .icon {
  transform: translateX(460%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
